main#game-screen {
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
}

.board .square.green {
    background-color: #86efac !important;
}

main#game-screen > .message {
    grid-column: 1 / -1;
}

.message.red {
    color: #ef4444;
}

.message.green {
    color: #22c55e;
}

.board .square.red {
    background-color: #fca5a5;
}
