h3, p {
    font-family: PressStart;
    color: #eff6ff;
    margin: 12px;
    text-align: center;
}

main#setup-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.board .square.green-backdrop {
    background-color: greenyellow;
}